# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VS Code settings (ja izmanto)
.vscode/

# Mac/Windows sistēmas faili
.DS_Store
Thumbs.db

# Jupyter / Streamlit / logs
.ipynb_checkpoints/
*.log
*.sqlite3

# Screenshoti (ja nevēlies glabāt)
#diagram.png
